.header {
  display: flex;
  justify-content: space-between;
  max-width: 880px;
  border-bottom: 1px rgba(84, 84, 84, 0.7) solid;
}
@media screen and (max-width: 550px) {
  .header {
    /* max-width: calc(100% - 60px); */
    margin: 0 auto;
  }
}
